body{
    font-family:"Verdana";
    background-color: white; 
    padding-top: 50px;
  }
  h1{
    color: black;
    text-align: center;
  }
  h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .topnav a {
    float: left;
    color: #f0edee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: lightgray;
    color: black;
  }
  

  .topnav {
    overflow: hidden;
    background-color: #1a1b20 ;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    
  }
  .footer {
    vertical-align: text-bottom;
    padding: 10px;
    text-align: center;
  }

  p {
    color: #523249
  }

  a {
    list-style-type: none;
    text-decoration: none;
    color: black;
  } 
  .logo-image {
    height:auto;
    width: auto;
    overflow: hidden;
  }
  
  .teambutton a {
    vertical-align: 45px;
    padding-top: none;
    font-family: 'Trebuchet MS';
  }

  .teambutton li{
    list-style-type: None;
    padding: 20px;
  }

  .teambutton{
    border-bottom: 2px solid grey;
  }
  
  .teambutton a:hover {
    background-color: #def2f1;
    color: black;
  }

  .playerbutton {
    border-bottom: 2px solid grey;
  }

  .playerbutton li{
    list-style-type: None;
    padding: 2px;
  }

  .playerbutton a{
    vertical-align: top;
    padding-top: 10px;
    font-family: 'Trebuchet MS';
  }

  .playerlink{
    list-style-type: none;
  } 

  .trophybutton a {
    vertical-align: 45px;
    padding-top: none;
    font-family: 'Trebuchet MS';
  }

  .trophybutton li{
    list-style-type: None;
    padding: 20px;
  }

  .trophybutton{
    border-bottom: 2px solid grey;
  }
  
  .trophybutton a:hover {
    background-color: #def2f1;
    color: black;
  }

 .position a{
   border: 2px solid rgb(22, 32, 24);
   border-radius: 50%;
   background-color: #1e351e;
   font-size: 250%;
   color: white;
   padding: 20%;
   
 }

 .position1 {
   position: fixed;
   top: 50%;
   left: 15%;
 }

 .position2 {
  position: fixed;
  top: 75%;
  left: 30%;
}

.position3 {
  position: fixed;
  top: 50%;
  left: 25%;
}

.position4 {
  position: fixed;
  top: 25%;
  left: 30%;
}

.position5 {
  position: fixed;
  top: 50%;
  left: 35%;
}

.position6 {
  position: fixed;
  top: 50%;
  left: 49%;
}

.position7 {
  position: fixed;
  top: 50%;
  left: 60%;
}

.position8 {
  position: fixed;
  top: 75%;
  left: 67%;
}
.position9 {
  position: fixed;
  top: 25%;
  left: 67%;
}

.position10 {
  position: fixed;
  top: 50%;
  left: 75%;
}

  .teamplayer{
    list-style-type: none;
  }

  .error body{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
  }

  .error{
    width: 100%;
    position: absolute;
    top: 50%;

  }