body{
  font-family:"Verdana";
  background-color: white; 
  padding-top: 50px;
}

h1{
  color: black;
  text-align: center;
}

h3{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav a {
  float: left;
  color: #f0edee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: lightgray;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: #1a1b20 ;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
    
  }

.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
}

p {
  color: black;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
} 

.logo-image {
  height:auto;
  width: auto;
  overflow: hidden;
}
  
.teambutton a {
  vertical-align: 45px;
  padding-top: none;
  font-family: 'Trebuchet MS';
}

.teambutton li{
  list-style-type: None;
  padding: 20px;
}

.teambutton{
  border-bottom: 2px solid grey;
}
  
.teambutton :hover {
  background-color: rgb(187, 211, 187);
  color: black;
}

.playerbutton {
  border-bottom: 2px solid grey;
}

.playerbutton li{
  list-style-type: None;
  padding: 2px;
}

.playerbutton a{
  vertical-align: top;
  padding-top: 10px;
  font-family: 'Trebuchet MS';
}

  .playerbutton:hover{
    background-color: rgb(187, 211, 187);
  }

  .trophybutton a {
    vertical-align: 45px;
    padding-top: none;
    font-family: 'Trebuchet MS';
  }

  .trophybutton li{
    list-style-type: None;
    padding: 20px;
  }

  .trophybutton{
    border-bottom: 2px solid grey;
  }
  
  .trophybutton :hover {
    background-color: rgb(187, 211, 187);
    color: black;
  }

 .position a{
   border: 2px solid rgb(22, 32, 24);
   border-radius: 50%;
   background-color: #1e351e;
   font-size: 250%;
   color: white;
   padding: 20%;
 }
 
 .position a:hover{
   background-color: beige;
   color: black;
 }

 .position1 {
   position: fixed;
   top: 50%;
   left: 15%;
 }

 .position2 {
  position: fixed;
  top: 75%;
  left: 30%;
}

.position3 {
  position: fixed;
  top: 50%;
  left: 25%;
}

.position4 {
  position: fixed;
  top: 25%;
  left: 30%;
}

.position5 {
  position: fixed;
  top: 50%;
  left: 35%;
}

.position6 {
  position: fixed;
  top: 50%;
  left: 49%;
}

.position7 {
  position: fixed;
  top: 50%;
  left: 60%;
}

.position8 {
  position: fixed;
  top: 75%;
  left: 67%;
}
.position9 {
  position: fixed;
  top: 25%;
  left: 67%;
}

.position10 {
  position: fixed;
  top: 50%;
  left: 75%;
}

.error{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    width: 100%;
    position: absolute;
  top: 20%;
  text-align: center;
}

.error h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
}

.error a{
  text-decoration: none;
  background: rgb(7, 110, 7);
  color: white;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px; 
}

.test a{
  text-decoration: none;
  background: rgb(7, 110, 7);
  color: white;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px; 
}

.teamplayer{
  border-bottom: 2px solid lightgray;
  padding: 1%;
  font-family: 'Arial';
  list-style-type: none;
  margin-right: 50%;
  font-size: large;
}

.teamplayer:hover{
  background-color:rgb(187, 211, 187) ;
}

.teamplayer img{
  border-radius: 50%;
}

.teamimage{
  position: fixed;
  top: 7%;
  right: 5%;
}

.teaminfo{
  margin-right: 220px;
}

.playerteam{
  border-bottom: 2px solid lightgray;
  vertical-align: 10%;
  padding-top: none;
  font-family: 'Trebuchet MS';
  list-style-type: none;
  margin-right: 85%;
}

.player img{
  border-radius: 50%;
}

.playerimage{
  position: fixed;
  top: 7%;
  right: 5%;
}

.playerinfo{
  margin-right: 220px;
}

.search{
  position: fixed;
  right: 2%;
  top: 1.5%;
}