{% extends 'layout.html' %}
{% block content %}

<h2>Intellectual Property:</h2>
<p> All images were sourced from www.wikipedia.en and are in compliance with CC BY-SA 3.0 which states that I am free to copy and redistribute the material in any medium or format as long as I adhere to the following terms: I must give appropriate credit, provide a link to the license and indicate if changes were made</p>
<br>
<h2>Github: </h2>
<a href="https://github.com/Riley-Richards" target="_blank">github.com/Riley-Richards</a>
{% endblock %}