{%extends 'layout.html'%}
{%block content%}

<h1>Football Valley</h1>

<div class = "homebutton">
    <a href ="/players">Players Page</a> <a href ="/team">Teams Page</a> <a href = "/trophy">Trophies Page</a> <a href = "/squadbuilder">Squadbuilding Page</a>
</div>

<div class ="home">
    <p> 
    Association football, more commonly known as simply football or soccer, is a team sport played with a spherical ball between two teams of 11 players. It is played by approximately 250 million players in over 200 countries and dependencies, making it the world's most popular sport.
    This website aims to show you the best football has to offer, in terms of players, teams and trohpies while also giving in depth detail about each.
    </p>
</div>

<img src="/static/images/404.png" style="height: auto; width: 80%;">

{%endblock%}
