{%extends 'layout.html'%}
{% block content %}

<h2> {{playerid[0]}} </h2>

<div class ="playerimage">
    <img src="/static/images/players/{{playerid[2]}}" style="height: auto; width: 120px;">
</div>

<div class ="playerinfo">
    <p> {{playerid[1]}} </p>
</div>

<b>Teams:</b>
{% for playerteam in playerteams %}

<div class="playerteam" onclick='location.href="/team/{{playerteam[0]}}";' style = "cursor:pointer;">
    <img src="/static/images/teams/{{playerteam[2]}}" style="height: 30px; width: 30px;">
    <a>{{playerteam[1]}}</a>
</div>

{% endfor %}

<br>

<b><a href="/trophy">Trophies: </a></b>
{% for playertrophy in playertrophies %}

<div class="playerteam" onclick='location.href="/trophy/{{playertrophy[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/trophies/{{playertrophy[2]}}" style="height: 30px; width: 30px;">
        <a>{{playertrophy[1]}}</a>
    </li>
</div>

{% endfor %}

<br>



{% endblock %}