{%extends 'layout.html'%}
{% block content %}

<h2> {{player_id[0]}} </h2>

<div class ="playerimage">
    <img src="/static/images/players/{{player_id[2]}}" style="height: auto; width: 120px;">
    <p>Nation: {{player_id[3]}}</p>
</div>

<div class ="playerinfo">
    <p> {{player_id[1]}} </p>
</div>

<b>Teams:</b>
{% for player_team in player_teams %}

<div class="playerteam" onclick='location.href="/team/{{player_team[0]}}";' style = "cursor:pointer;">
    <img src="/static/images/teams/{{player_team[2]}}" style="height: 30px; width: 30px;">
    <a>{{player_team[1]}}</a>
</div>

{% endfor %}

<br>

<b><a href="/trophy">Trophies: </a></b>
{% for player_trophy in player_trophies %}

<div class="playerteam" onclick='location.href="/trophy/{{player_trophy[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/trophies/{{player_trophy[2]}}" style="height: 30px; width: 30px;">
        <a>{{player_trophy[1]}}</a>
    </li>
</div>

{% endfor %}

<br>



{% endblock %}