{%extends 'layout.html'%}
{% block content %}

<style>
   body {
     background-image: url('/static/images/background.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 80% 80%;
     background-position: center;
   }
   </style>


<h2> POSITIONS </h2>
<div class = "position">
  <div class = "position1"; onclick = 'location.href="/position/1";' style = "cursor:pointer;">
    <a href="/position/1">GK</a>
  </div>


  <div class = "position2"; onclick = 'location.href="/position/2";' style = "cursor:pointer;">
    <a href="/position/2">RB</a>
  </div>


  <div class = "position3"; onclick = 'location.href="/position/3";' style = "cursor:pointer;">
    <a href="/position/3">CB</a>
  </div>


  <div class = "position4"; onclick = 'location.href="/position/4";' style = "cursor:pointer;">
    <a href="/position/4">LB</a>
  </div>


  <div class = "position5"; onclick = 'location.href="/position/5";' style = "cursor:pointer;">
    <a href="/position/5">CDM</a>
  </div>


  <div class = "position6"; onclick = 'location.href="/position/6";' style = "cursor:pointer;">
    <a href="/position/6">CM</a>
  </div>


  <div class = "position7"; onclick = 'location.href="/position/7";' style = "cursor:pointer;">
    <a href="/position/7">CAM</a>
  </div>


  <div class = "position8"; onclick = 'location.href="/position/8";' style = "cursor:pointer;">
    <a href="/position/8">RW</a>
  </div>


  <div class = "position9"; onclick = 'location.href="/position/9";' style = "cursor:pointer;">
    <a href="/position/9">LW</a>
  </div>


  <div class = "position10"; onclick = 'location.href="/position/10";' style = "cursor:pointer;">
    <a href="/position/10">ST</a>
  </div>
</div>

{% endblock %}