{%extends 'layout.html'%}
{% block content %}

<div class = "squad"></div>
    <h2> Squad Builder </h2>


    <form id="user_input" action="/squad" method="post"> 
            <input type="text" id="name" required placeholder="Choose a Team Name" name="name"> <br> <br>
            <input type="text" id="name" required placeholder="Choose a Goalkeeper" name="gk"> <br>
            <input type="text" id="name" required placeholder="Choose a Right Back" name="rb"> <br>
            <input type="text" id="name" required placeholder="Choose a Right Centre Back" name="center_back"> <br>
            <input type="text" id="name" required placeholder="Choose a Left Centre Back" name="lcb"> <br>
            <input type="text" id="name" required placeholder="Choose a Left Back" name="lb"> <br>
            <input type="text" id="name" required placeholder="Choose a Defensive Midfielder" name="cdm"> <br>
            <input type="text" id="name" required placeholder="Choose a Centre Midfielder" name="cm"> <br>
            <input type="text" id="name" required placeholder="Choose a Attacking Midfielder" name="cam"> <br>
            <input type="text" id="name" required placeholder="Choose a Left Winger" name="lw"> <br>
            <input type="text" id="name" required placeholder="Choose a Right Winger" name="rw"> <br>
            <input type="text" id="name" required placeholder="Choose a Striker" name="st"> <br>
            <input type="submit" id="submit" value="SEND">
            {%if submit == True%}
                <p>SENT</p>
            {%endif%}


    <br>

    <div class = "test">
        <a href="/allsquads">View All Squads</a>
    </div>

</div>
{% endblock %}