{%extends 'layout.html'%}
{% block content %}

<h2> {{teamid[1]}} </h2>

<div class ="teamimage">
    <img src="/static/images/teams/{{teamid[4]}}" style="height: 120px; width: auto;">
</div>

<div class ="teaminfo">
    <p> {{teamid[2]}}</p>
</div>

<b><a href="/trophy">Trophies: </a></b>
{% for teamtrophy in teamtrophies %}
   <div class="teamplayer" onclick='location.href="/trophy/{{teamtrophy[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/trophies/{{teamtrophy[2]}}" style="height: 30px; width: 30px;">
        <a>{{teamtrophy[1]}}</a>
    </li>
</div>
{% endfor %}

<br>

<b><a href="/players">Players: </a></b>
<br>
{% for teamplayer in teamplayers %}
<div class="teamplayer" onclick='location.href="/player/{{teamplayer[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/players/{{teamplayer[2]}}" style="height: 30px; width: 30px;"> 
        <a>{{teamplayer[1]}}</a>
    </li>
</div>
{% endfor %}


{% endblock %}