{%extends 'layout.html'%}
{% block content %}
<h2> {{teamid[1]}} </h2>

<img src="/static/images/teams/{{teamid[4]}}" style="height: auto; width: 120px;">
<p> {{teamid[2]}}</p>

<a href="/trophy">Trophies: </a>
{% for teamtrophy in teamtrophies %}
    <p>{{teamtrophy[0]}}</p>
{% endfor %}

<br>

<a href="/players">Players: </a>
{% for teamplayer in teamplayers %}
<div class="teamplayer">
    <li>
        <a href="/player/{{teamplayer[0]}}">{{teamplayer[1]}}</a>
    </li>
</div>
{% endfor %}


{% endblock %}