{%extends 'layout.html'%}
{% block content %}

<h2> {{trophy_id[1]}} </h2>

<div class = "trophyimage">
    <img src="/static/images/trophies/{{trophy_id[5]}}" style="height: auto; width: 120px;">
</div>

<div class = "trophyinfo">
    <p>{{trophy_id[2]}}</p>
</div>

<b><a>Players: </a></b>
{% for trophy_player in trophy_players %}
<div class="trophyplayer" onclick='location.href="/player/{{trophy_player[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/players/{{trophy_player[2]}}" style="height: 30px; width: 30px;">
        <a>{{trophy_player[1]}}</a>
    </li>
</div>
{% endfor %}

<br>

<b><a>Teams: </a></b>
{% for trophy_team in trophy_teams %}
<div class="trophyplayer" onclick='location.href="/team/{{trophy_team[0]}}";' style = "cursor:pointer;">
    <li>
        <img src="/static/images/teams/{{trophy_team[2]}}" style="height: 30px; width: 30px;">
        <a>{{trophy_team[1]}}</a>
    </li>
</div>
{% endfor %}


{% endblock %}